.arrow {
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}

.main-header {
  background-color: #78556f;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Menu fixe en haut */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin-left: auto; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  color: rgb(244, 241, 241);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-dropbtn {
  background: none;
  border: none;
  color: rgb(16, 16, 16);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropbtn:hover,
.sub-dropbtn:hover {
  color: #0c0c0c;
}

.dropdown-content,
.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 8px;
  padding: 8px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-content a,
.sub-dropdown-content a {
  color: #333;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-content a:hover,
.sub-dropdown-content a:hover {
  background-color: #f0f0f0;
}

.show {
  display: block;
}

.sub-dropdown {
  position: relative;
}

.sub-dropdown-content {
  left: 0;
  top: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #fdf9fc;
}

.user-icon {
  font-size: 18px;
}

.logout-btn {
  color: white;
  display: flex;
  margin-right: 50px;
  text-decoration: none;
  font-weight: bold;
}

/* Footer */
.footer {
  text-align: center;
  padding: 12px 0;
  background-color: #78556f;
  color: white;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding-top: 40px;
  padding-bottom: 50px;
}